<!DOCTYPE html>
<html>
<body>
    <p style="color:Tomato;"> {{error if error != None}} </p><br>
    <h2>Hello, user <b>{{username}}</b> </h2>

    The following actions are available to you: <br>
    <a href="{{ url_for('upload') }}">Upload photo</a> <br>
    <a href="{{ url_for('logout') }}">Logout</a>

    <br><br><br>The name of the file will turn into a hyperlink, when audio file is done processing <br>
    <h3>All uploaded files:</h3>

    <table>
        <tr>
            <th>File name</th>
            <th>Source language</th>
            <th>Destination language</th>
        </tr>
        {% for item in items %}
        <tr> 
            <td>
                {%if "filename" in item%} 
                    <a href="{{ url_for('view', filename=item.filename) }}">{{item.filename}}</a> 
                {%else%}
                    {{item.filename}}
                {%endif%}
                
            </td>
            <td>{{item.srclang}}</td>
            <td>{{item.dstlang}}</td>

        </tr>
        {% endfor %}

    </table>
</body>
</html>